<section id="about-page">
  <div>
    <div class="about-container has-text-centered ">
      <h5 class="title is-size-2">About Me</h5>
      <p class="has-text-left is-size-5">An experienced full-stack web developer who is passionate about writing clean
        and concise codes throughout the
        development lifecycle. Recognized by peers as a strong and collaborative team player. Excited to be a part of a
        quality-driven, collaborative work environment where I can leverage my background and skill set.</p><br>
      <p class="has-text-left is-size-5">Located in Anaheim, CA. I am currently looking for new Web Development
        opportunities.</p>
    </div>



  </div>
</section>