<section id="portfolio-page">
  <div class="columns project-tile-container">

    <div class="column">
      <div class="tile is-parent project-container" id="bootstocks">
        <div class="tile-content">
          <div class="tile-inside-content px-2 py-6">
            <p class="title is-3 has-text-white">BootStocks</p>
            <p class="my-6"><a href="https://bootstocks.herokuapp.com/" target="_blank" class="button is-info">Demo</a>
              <a href="https://github.com/jeorgedonato/BootStocks" target="_blank" class="button is-info">Repo</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="tile is-parent project-container" id="code-quiz">
        <div class="tile-content">
          <div class="tile-inside-content px-2 py-6">
            <p class="title is-3 has-text-white">Code Quiz</p>
            <p class="my-6"><a href="https://jeorgedonato.github.io/code-quiz/" target="_blank"
                class="button is-info">Demo</a>
              <a href="https://github.com/jeorgedonato/code-quiz" target="_blank" class="button is-info">Repo</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="tile is-parent project-container" id="to-make-to-go">
        <div class="tile-content">
          <div class="tile-inside-content px-2 py-6">
            <p class="title is-3 has-text-white">To Make or To Go</p>
            <p class="my-6"><a href="https://jeorgedonato.github.io/to-make-or-to-go/" target="_blank"
                class="button is-info">Demo</a>
              <a href="https://github.com/jeorgedonato/to-make-or-to-go" target="_blank" class="button is-info">Repo</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>