<section id="portfolio-page">
  <div class="portfolio-div">
    <div class="columns is-family-primary" id="portfolio">
      <div class="column ">
        <div class="portfolio-container has-text-centered">
          <h5 class="title is-size-2">Portfolio</h5>
        </div>
      </div>
    </div>

    <div class="columns project-tile-container">

      <div class="column">
        <div class="tile is-parent project-container" id="bootstocks">
          <div class="tile-content">
            <div class="tile-inside-content px-2 py-6 has-text-centered">
              <p class="title is-3 has-text-white">BootStocks</p>
              <p class="my-6"><a href="https://bootstocks.herokuapp.com/" target="_blank"
                  class="button is-info">Demo</a>
                <a href="https://github.com/jeorgedonato/BootStocks" target="_blank" class="button is-info">Repo</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="tile is-parent project-container" id="to-make-to-go">
          <div class="tile-content">
            <div class="tile-inside-content px-2 py-6 has-text-centered">
              <p class="title is-3 has-text-white">To Make or To Go</p>
              <p class="my-6"><a href="https://jeorgedonato.github.io/to-make-or-to-go/" target="_blank"
                  class="button is-info">Demo</a>
                <a href="https://github.com/jeorgedonato/to-make-or-to-go" target="_blank"
                  class="button is-info">Repo</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="tile is-parent project-container" id="weather-dashboard">
          <div class="tile-content">
            <div class="tile-inside-content px-2 py-6 has-text-centered">
              <p class="title is-3 has-text-white">Weather Dashboard</p>
              <p class="my-6"><a href="https://jeorgedonato.github.io/weather-dashboard/" target="_blank"
                  class="button is-info">Demo</a>
                <a href="https://github.com/jeorgedonato/weather-dashboard/" target="_blank"
                  class="button is-info">Repo</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>