<section id="skills-page">
  <div class="skills-div">
    <div class="skill-banner has-text-centered">
      <h5 class="title is-size-2">Skills</h5>
    </div>

    <div class="skills-image">
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/html5.png" alt="HTML5">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/css3.png" alt="CSS3">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/js.png" alt="Javascript">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/php.png" alt="PHP">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/mysql.png" alt="MySQL">
          </figure>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/mongodb.jpg"
              alt="MongoDB">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/nodejs.png" alt="NodeJS">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/react.png" alt="ReactJS">
          </figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/expressjs.png"
              alt="ExpressJS"></figure>
        </div>
        <div class="column">
          <figure class="image is-128x128 center-things"><img class="is-rounded" src="/images/Redux.png" alt="Redux">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>