<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="Jeorge Donato">
  <meta name="author" content="Jeorge Donato">
  <meta property="og:locale" content="en_US">
  <meta name="description" content="Full Stack Web Developer">
  <meta property="og:description" content="Full Stack Web Developer">
  <title>Jeorge Donato | Full Stack Web Developer</title>
  <link rel="icon" href="/images/webicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="has-navbar-fixed-top body-class">
  <a name="top"></a>
  <header>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item banner-container mt-3" href="#top">
          <img class="" src="/images/portfolio-banner.jpg">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="my-navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="my-navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item is-family-primary link-container">
            <!-- <div class="buttons"> -->
            <a class="navbar-item is-size-5 has-text-centered-touch" data-href="home-page">
              <strong>Home</strong>
            </a>
            <a class="navbar-item is-size-5 has-text-centered-touch" data-href="about-page">
              <strong>About</strong>
            </a>
            <a class="navbar-item is-size-5 has-text-centered-touch" data-href="skills-page">
              <strong>Skills</strong>
            </a>
            <a class="navbar-item is-size-5 has-text-centered-touch" data-href="portfolio-page">
              <strong>Portfolio</strong>
            </a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </nav>
  </header>

  {{{body}}}
  <script src="/js/lazyload.js"></script>
  <script src="/js/index.js"></script>
</body>


</html>