<section id="home-page">
    <div class="intro-first">
        Hi! I'm Jeorge Donato <br>
    </div>
    <div class="intro-second">
        <span class="text-1st">A Full Stack Web Developer</span>
        <span class="text-2nd">A Software Engineer</span>
        {{!-- <span class="text-3rd">A Human</span> --}}
    </div>
    <figure class="profile-pic image">
        <img class="profile-img is-rounded" src="/images/profilepic.jpg" alt="Jeorge Donato">
    </figure>
    <div class="contact-bar">
        <span><a href="https://github.com/jeorgedonato" target="_blank"><i class="fab fa-github-square"></i></a></span>
        <span><a href="https://www.linkedin.com/in/jeorgejdonato/" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-linkedin"></i></a></span>
    </div>

    <div class="resume-bar">
        <div class="github-container py-5 has-text-centered">
            <div class="github-text">
                <p class="has-text-white title is-size-3">Get a Physical Copy of my Resume</p>
                <p class="is-uppercase ">
                    <div class="control">
                        <a class="button is-info" target="_blank" href="/resume/Donato-Jeorge-Resume.docx">Click
                            Here</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>


{{> about}}
{{> skills}}
{{> portfolio}}
{{> footer}}